:root {
  --bgColorAuth: #151515;
  --inputBgColor: #1f1f1f;
  --inputBorderColor: rgb(190, 219, 176, 0.5);
  --inputBorderFocus: #bedbb0;
  --buttonColor: #161616;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

html {
  box-sizing: border-box;
  font-family: Roboto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  margin-top: -195px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px;
}
